{% extends "base.html" %}
{% load static %}
{% block content %}

  <section id="header" class="main-header about-header inner-header">
      <div class="container">

          <div class="row">
              <nav class="navbar navbar-default">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>

                  <div class="collapse navbar-collapse" id="site-nav-bar">
                      <ul class="nav navbar-nav">
                          <li><a href='{% url "index" %}'>Home</a></li>
                          <li class="active"><a href='{% url "about" %}'>About</a></li>
                          <li><a href='{% url "contract" %}'>Contract</a></li>
                          <li><a href="#">Labs</a></li>
                          <li><a href="#">Tutorials</a></li>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </nav>
          </div>

          <div class="intro row">
              <div class="overlay"></div>
              <div class="col-sm-12">
                  <h1>About Us</h1>
              </div>
          </div> <!-- /.intro.row -->
      </div> <!-- /.container -->
      <div class="nutral"></div>
  </section> <!-- /#header -->

<!-- About -->
  <section class="about">
      <div class="container page-bgc">
          <div class="row">
              <div class="col-sm-12">
                  <div class="title-box">
                      <p>We are</p>
                      <h2 class="title mt0">Team 25</h2>
                  </div>
              </div>
          </div>

      <!-- Machine Man -->
          <div class="machine-man">
              <div class="row">
                  <div class="boxed">
                      <div class="col-sm-8">

                          <br><br><br><br><br>
                          <p>
                             Team 25 is a group of passionate Cornell students who want to build robots! (placeholder, TODO: description)
                          </p>
                          <br><br><br><br><br>

                      </div>
                  </div>
              </div>
          </div>

      <!-- Team -->
          <div class="team">
              <div class="row">
                  <div class="boxed">
                      <div class="col-sm-12">
                          <div class="title-box">
                              <p>Meet our</p>
                              <h2 class="title mt0">Team Members</h2>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="team-box">
                              <div class="team-img">
                                  <img class="team-img img-responsive" src='{% static "images/team-1.png" %}' alt="team">
                              </div>
                              <div class="team-img-detail">
                                  <h4 class="member-name">Vicente Caycedo</h4>
                                  <h5 class="member-id">Team Member</h5>
                                  <br>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="team-box">
                              <div class="team-img">
                                  <img class="team-img img-responsive" src='{% static "images/team-2.png" %}' alt="team">
                              </div>
                              <div class="team-img-detail">
                                  <h4 class="member-name">Eldor Bekpulatov</h4>
                                  <h5 class="member-id">Team Member</h5>
                                  <br>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="team-box">
                              <div class="team-img">
                                  <img class="team-img img-responsive" src='{% static "images/team-3.png" %}' alt="team">
                              </div>
                              <div class="team-img-detail">
                                  <h4 class="member-name">Francis Rayos del Sol</h4>
                                  <h5 class="member-id">Team Member</h5>
                                  <br>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="team-box">
                              <div class="team-img">
                                  <img class="team-img img-responsive" src='{% static "images/team-4.png" %}' alt="team">
                              </div>
                              <div class="team-img-detail">
                                  <h4 class="member-name">Joseph Primmer</h4>
                                  <h5 class="member-id">Team Member</h5>
                                  <br>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

      <!-- CTA -->
          <div class="cta">
              <div class="row">
                  <div class="boxed">
                      <div class="col-sm-9">
                          <p>

                          </p>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>

{% endblock %}
