{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECE 3400</title>

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/magnific-popup.css" %}' rel="stylesheet">
    <link href='{% static "css/owl.carousel.css" %}' rel="stylesheet">
    <link href='{% static "css/owl.carousel.theme.min.css" %}' rel="stylesheet">
    <link href='{% static "css/ionicons.css" %}' rel="stylesheet">
    <link href='{% static "css/main.css" %}' rel="stylesheet">

  </head>
  <body>
    <!-- Site Header -->
      <div class="site-header-bg">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <a href="{% url 'index'%}"><img src='{% static "images/logo.png" %}' alt="logo"></a>
                  </div>
                  <div class="col-sm-3 col-sm-offset-3 text-right">

                  </div>
              </div>
          </div>
      </div>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
        <section id="footer-widget" class="footer-widget">
            <div class="container header-bg">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>External Links</h3>
                        <ul>
                            <li><a href="https://cei-lab.github.io/ece3400-2018/">ECE 3400 Website</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    <!-- Scripts -->
    <script src='{% static "js/jquery-1.12.3.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <script src='{% static "js/script.js" %}'></script>
  </body>
</html>
